@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lunasima&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-lunas {
  font-family: "Lunasima", sans-serif;
}

.font-lobster {
  font-family: "Shrikhand", cursive;
}

.text-redbull-red {
  color: #e30118;
}

.text-redbull-yellow {
  color: #fdd900;
}

.gradient-text-redbull {
  background: linear-gradient(to right, #e30118 25%, #fdd900);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-redbull-yellow {
  background-color: #fdd900;
}

.bg-redbull-yellow:hover {
  background-color: #fdd7009d;
}

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.text-red-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #ffebeb 0.89%,
    #ffc8c8 17.23%,
    #ffa4a4 42.04%,
    #ff8080 55.12%,
    #ff5959 71.54%,
    #a70000 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.text-red-gradient-2 {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #ff9191 0.89%,
    #ff4f4f 17.23%,
    #fe4a4a 42.04%,
    #fa3f3f 55.12%,
    #fb3030 71.54%,
    #c6040d 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

/* .bg-red-gradient {
  background: linear-gradient(
    157.81deg,
    #ffd6d6 -43.27%,
    #ffa4a4 -21.24%,
    #ff7272 12.19%,
    #ff4040 29.82%,
    #ff0d0d 51.94%,
    #a70000 90.29%
  );
} */

.bg-red-gradient-1 {
  background: linear-gradient(
    /* 257.81deg, */ 270deg,
    #ffd3d3 -43.27%,
    #ff9d9d -21.24%,
    #fc7171 12.19%,
    #ff5a5a 29.82%,
    #e42222 51.94%,
    #a70000 90.29%
  );
}

/* .bg-red-gradient:hover {
  background: linear-gradient(
    90deg,
    #ffebeb -43.27%,
    #ffc8c8 -21.24%,
    #ffa4a4 12.19%,
    #ff8080 29.82%,
    #ff5959 51.94%,
    #a70000 90.29%
  );
} */

.bg-red-gradient {
  background: linear-gradient(
    270deg,
    #ffc4c4 -43.27%,
    #ff9a9a -21.24%,
    /* #ffa4a4 12.19%,
    #ff8080 29.82%, */ #ff5959 51.94%,
    #ff1111 90.29%
  );
}

.bg-red-gradient:hover {
  background: linear-gradient(
    270deg,
    #ffebeb -43.27%,
    #ffc8c8 -21.24%,
    /* #ffa4a4 12.19%,
    #ff8080 29.82%, */ #ffc2c2 51.94%,
    #fc9393 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.bg-grey {
  background: #272727;
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(
    180deg,
    rgba(188, 165, 255, 0) 0%,
    #cb0700af 100%
  );
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f7ff89 0%, #f6ff00 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}
